<div
*ngIf="loading$ | async"
  class="flex fixed top-0 right-0 z-50 left-0 bottom-0 items-center justify-center h-screen bg-gradient-to-br from-[#6365f199] to-[#8B5CF699]"
  data-id="1"
>
  <div class="flex flex-col items-center space-y-4" data-id="2">
    <div class="animate-spin-slow" data-id="3">
      <svg
        data-id="4"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="h-12 w-12 text-white"
      >
        <path d="M2 12c0-2.8 2.2-5 5-5s5 2.2 5 5 2.2 5 5 5 5-2.2 5-5"></path>
        <path d="M7 20.7a1 1 0 1 1 5-8.7 1 1 0 1 0 5-8.6"></path>
        <path d="M7 3.3a1 1 0 1 1 5 8.6 1 1 0 1 0 5 8.6"></path>
        <circle cx="12" cy="12" r="10"></circle>
      </svg>
    </div>
    <p class="text-2xl font-medium text-white animate-bounce" data-id="5">Cargando...</p>
  </div>
</div>
