<div
  class="rounded-lg border bg-card text-card-foreground shadow-sm shadow-gray-500 mt-8 bg-white bg-opacity-95"
  data-v0-t="card"
>
  <div class="p-6">
    <div class="flex items-center justify-between mb-4">
      <div class="flex flex-col space-y-1.5">
        <h3
          class="whitespace-nowrap text-2xl font-semibold leading-none tracking-tight"
        >
          All Records
        </h3>
        <p class="text-sm text-muted-foreground">View all generated records.</p>
      </div>
      <div class="relative">
        <input
          class="flex min-w-[300px] md:w-[600px] h-10 rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 pl-8 w-full"
          placeholder="Search all records..."
          type="search"
          [(ngModel)]="searchText"
          (ngModelChange)="getRecordsFiltered()"
        />
      </div>
      <p class="text-sm w-[200px]">
        Total records: {{ records.length }}
      </p>
    </div>
    <div class="relative w-full overflow-auto">
      <table class="w-full caption-bottom text-sm">
        <thead class="[&amp;_tr]:border-b">
          <tr
            class="border-b transition-colors hover:bg-muted/50 data-[state=selected]:bg-muted"
          >
            <th
              class="h-12 px-4 text-left align-middle font-medium text-muted-foreground [&amp;:has([role=checkbox])]:pr-0"
            >
              Created At
            </th>
            <th
              class="h-12 px-4 text-left align-middle font-medium text-muted-foreground [&amp;:has([role=checkbox])]:pr-0"
            >
              IID
            </th>
            <th
              class="h-12 px-4 text-left align-middle font-medium text-muted-foreground [&amp;:has([role=checkbox])]:pr-0"
            >
              CID
            </th>
            <th
              class="h-12 px-4 text-left align-middle font-medium text-muted-foreground [&amp;:has([role=checkbox])]:pr-0"
            >
              Token
            </th>
            <th
              class="h-12 px-4 text-left align-middle font-medium text-muted-foreground [&amp;:has([role=checkbox])]:pr-0"
            >
              <span class="sr-only">Copy</span>
            </th>
          </tr>
        </thead>
        <tbody class="[&amp;_tr:last-child]:border-0">
          <tr
            *ngFor="let record of recordsFilterd"
            class="border-b transition-colors hover:bg-muted/50 data-[state=selected]:bg-muted"
          >
            <td class="p-4 align-middle [&amp;:has([role=checkbox])]:pr-0">
              {{ record.createdAt }}
            </td>
            <td class="p-4 align-middle [&amp;:has([role=checkbox])]:pr-0">
              {{ record.iid }}
            </td>
            <td
              class="p-4 align-middle [&amp;:has([role=checkbox])]:pr-0 font-mono"
            >
              {{ formatedCID(record.cid) }}
            </td>
            <td
              class="p-4 align-middle [&amp;:has([role=checkbox])]:pr-0 font-mono"
            >
              {{ record.token.token }}
            </td>
            <td class="p-4 align-middle [&amp;:has([role=checkbox])]:pr-0">
              <button
                (click)="copyToClipboard(formatedCID(record.cid), 'record')"
                class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 hover:bg-accent hover:text-accent-foreground h-10 w-10"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="h-4 w-4"
                >
                  <rect width="14" height="14" x="8" y="8" rx="2" ry="2"></rect>
                  <path
                    d="M4 16c-1.1 0-2-.9-2-2V4c0-1.1.9-2 2-2h10c1.1 0 2 .9 2 2"
                  ></path>
                </svg>
                <span class="sr-only">Copy token</span>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
