<div class="flex flex-col w-full min-h-screen bg-[#F6F6F6]">
  <header
    class="flex items-center py-2 justify-between px-4 border-b shrink-0 md:px-10 bg-white"
  >
    <h1 class="flex items-center gap-2 text-xl font-bold">
      <img class="w-48" src="./../../assets/img/Black.png" alt="" />
    </h1>
    <button
      (click)="logout()"
      class="flex items-center gap-2 text-lg font-semibold md:text-base"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="w-6 h-6"
      >
        <path
          d="m15.5 7.5 2.3 2.3a1 1 0 0 0 1.4 0l2.1-2.1a1 1 0 0 0 0-1.4L19 4"
        ></path>
        <path d="m21 2-9.6 9.6"></path>
        <circle cx="7.5" cy="15.5" r="5.5"></circle>
      </svg>
      <span>Logout</span>
    </button>
  </header>
  <main class="flex-1 p-4 md:p-10">
    <div class="grid gap-8 md:grid-cols-[1fr_2fr]">
      <app-generate-token></app-generate-token>
      <app-list-tokens></app-list-tokens>
    </div>
    <app-list-records></app-list-records>
  </main>
</div>
